@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@font-face {
    font-family: 'Inter';
    src: url("{{ asset('fonts/Inter-Regular.ttf') }}") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.f-inter {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
    font-size: 16px;
    color: #121212;
}

.wrapper-old-username:has(input:disabled)  {
    background-color: #f2f2f2;
    color: #888;
}

.checkbox:checked:hover {
    background-color:unset !important;
}

.checkbox:checked:focus {
    background-color:unset !important;
}

.checkbox:checked:active {
    background-color:unset !important;
}

.icon-filled {
    font-variation-settings: 'FILL' 1;
}