@font-face {
    font-family: 'Inter';
    src: url("{{ asset('assets/font/Inter_Thin.ttf') }}") format('truetype');

}

.f-inter {
    font-family: 'Inter';
}

* {
    font-size: 16px;
    color: #121212;
}

.wrapper-old-username:has(input:disabled) {
    background-color: #f2f2f2;
    color: #888;
}

.checkbox:checked:hover {
    background-color: unset !important;
}

.checkbox:checked:focus {
    background-color: unset !important;
}

.checkbox:checked:active {
    background-color: unset !important;
}

.icon-filled {
    font-variation-settings: 'FILL'1;
}