@font-face {
    font-family: 'Inter';
    src: url("{{ asset('assets/font/Inter_Thin.ttf') }}") format('truetype');

}

.f-inter {
    font-family: 'Inter';
}

* {
    font-size: 16px;
    color: #121212;
}

.wrapper-old-username:has(input:disabled) {
    background-color: #f2f2f2;
    color: #888;
}

.checkbox:checked:hover {
    background-color: unset !important;
}

.checkbox:checked:focus {
    background-color: unset !important;
}

.checkbox:checked:active {
    background-color: unset !important;
}

.icon-filled {
    font-variation-settings: 'FILL'1;
}

.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#13ca02 0 0);
  background: var(--c),var(--c),#cbfbc7;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

.foto-group:last-of-type {
    margin-bottom: 1.5rem
}
